// _buttons.scss
@use "variables" as *;

.btn-custom-primary {
    background-color: #3f87f5;
    border-color: #3f87f5;
    color: $color-white;

    &:hover {
        background-color: #306fd3;
        border-color: #306fd3;
        color: $color-white;
    }
}

.social-login {
    [class^="btn-"] {
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    .btn-google {
        background: $color-white url(/static/images/login/google-logo.png) no-repeat center/70%;
    }

    .btn-naver {
        background: url(/static/images/login/naver_logo.png) no-repeat center/100%;
    }
}
