.floating-game-canvas {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(100, 100, 100, 0.4);
  margin-bottom: 50px;
}

/*#catchMindCanvas .modal-dialog {*/
/*  max-width: 800px; !* 모달의 최대 너비 설정 *!*/
/*}*/

/*#catchMindCanvas .modal-content {*/
/*  height: 600px; !* 모달 컨텐츠의 높이 설정 *!*/
/*}*/

/* 모달창을 더욱 중앙에 위치시키기 위한 추가적인 스타일 */
.modal-dialog {
  display: flex;
  align-items: center; /* 세로 정렬 */
  min-height: calc(100% - (.5rem * 2));
}

.modal {
  /* 화면이 작은 장치에서도 모달이 중앙에 위치하도록 */
  overflow-y: auto;
}

@font-face {
  font-family: 'Press Start 2p';
}

.start-btn{
  font-family: 'Press Start 2p';
  text-align: center;
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
  cursor: pointer;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

/* 주제 설정 모달 */
#titleButtonContainer .title-btn {
  margin: 5px; /* 상하좌우 모두 5px의 마진을 추가 */
}

#subjectButtonContainer .subject-btn {
  margin: 5px; /* 상하좌우 모두 5px의 마진을 추가 */
}


/*
캔버스 모달 css
 */
#catchMindCanvas .modal-dialog {
  max-width: 800px; /* 캔버스 크기 + 여백을 고려 */
}

#catchMindCanvas .modal-body {
  padding: 0; /* 내부 여백 제거 */
  width: 800px; /* 캔버스 너비에 맞춤 */
  height: 600px; /* 캔버스 높이에 맞춤 */
  display: flex; /* Flexbox를 사용하여 캔버스 중앙 정렬 */
  justify-content: center;
  align-items: center;
}

canvas#mycanvas {
  display: block; /* 캔버스를 블록 요소로 설정 */
  width: 100% !important; /* 모달 바디에 맞춰 캔버스 너비 조절 */
  height: 100% !important; /* 모달 바디에 맞춰 캔버스 높이 조절 */
  background-color: #fff; /* 캔버스 배경색 설정 */
  border: 1px solid #ccc; /* 캔버스 테두리 설정 */
}

/*
  모든 게임 종료 후 결과 모달 css
 */

#gameResultsList .list-group-item {
  font-weight: bold;
  color: #333;
}

#gameResultsList .list-group-item:nth-child(1) { /* 우승자 스타일링 */
  background-color: #4CAF50; /* 녹색 배경 */
  color: white; /* 흰색 글씨 */
  border: 2px solid gold; /* 금색 테두리 */
  font-size: 1.2em; /* 큰 글씨 */
  font-weight: bold; /* 굵은 글씨체 */
}

.feedback-request {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding: 15px;
  margin-top: 20px;
}

/* 게임 결과 모달의 결과 리스트 스타일링 */
#gameResultsModal #gameResultsList {
  margin-bottom: 20px; /* 리스트와 탭 사이의 공간을 20px으로 설정 */
}

/* 게임 결과 모달의 탭 컨텐츠 스타일링 */
#gameResultsModal .tab-content {
  border-top: 1px solid #ccc; /* 탭 콘텐츠 상단에 경계선 추가 */
  padding-top: 20px; /* 탭 콘텐츠의 상단 패딩을 20px로 설정 */
}

/* 게임 결과 모달의 탭 제목 스타일링 */
#gameResultsModal .nav-tabs {
  margin-bottom: 15px; /* 탭 제목과 내용 사이의 마진 설정 */
}

/*!* 게임 결과 모달의 피드백 요청 영역 스타일링 *!*/
/*#gameResultsModal .feedback-request {*/
/*  padding: 10px; !* 내부 패딩 추가 *!*/
/*  background-color: #f8f9fa; !* 배경색 설정 *!*/
/*  border-radius: 5px; !* 테두리 둥글게 설정 *!*/
/*}*/

  /*
    정답 입력 모달
   */
  #answerInputModal .modal-content {
    border-radius: 8px;
  }

  #answerInputModal .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }

  #answerInputModal .modal-footer {
    border-top: 1px solid #dee2e6;
  }

  #answerInputModal #userAnswer {
    margin-top: 15px;
    margin-bottom: 20px;
  }
